//COLORS
$black: #000000;
$janna: #F5E5D9;
$mine-shaft: #272727;
$white: #ffffff;
$wild-sand: #F6F6F6;

//FONTS
$primaryFont: 'Playfair Display', serif;
$secondaryFont: 'PT Sans', sans-serif;

//MEDIA QUERIES
$xs: 375px;
$sm: 576px;
$md: 760px;
$lg: 992px;
$xl: 1200px;